.dnd-hidden-origin {
  opacity: 0.4;
}
.dnd-none {
  display: none !important;
}
.dnd-shadow {
  z-index: 0;
  opacity: 0.4 !important;
}
.dnd-ghost {
  position: absolute;
  z-index: 1000;
  background-color: #deeefb !important;
  border: 1px solid #1e97f8 !important;
}
.dnd-select-none {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}
