.list {
  padding: 30px;
  background-color: #d6d4d4;
  width: 300px;
  min-height: 110px;
  height: auto;
}
.list2 {
  padding: 30px;
  background-color: #d6d4d4;
  width: 300px;
  min-height: 110px;
  height: auto;
  margin-left: 20px;
}
.item {
  margin-bottom: 10px;
  background-color: cornflowerblue;
  width: 280px;
  height: 50px;
}
