.list {
  padding: 30px;
  background-color: #d6d4d4;
  width: 500px;
  min-height: 110px;
  height: auto;
}
.item {
  margin-bottom: 10px;
  background-color: cornflowerblue;
  width: 480px;
  height: 50px;
}
