.todo-list {
  width: calc(100% - 20px);
  height: 700px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 10px;
  overflow: hidden;

  .scroll {
    height: 100%;
    overflow-y: auto;
    .item {
      width: calc(100% - 20px);
      height: 30px;
      padding: 10px;
      background-color: #00000008;
      display: flex;
      justify-content: space-between;
      line-height: 30px;
      margin-bottom: 10px;
      .title {
        font-weight: bold;
      }
      .check {
        width: 20px;
        height: 20px;
        margin-top: 3px;
      }
      &.done {
        background-color: #0000001a;
        .title {
          font-style: italic;
          text-decoration: line-through;
        }
      }
    }
  }
}
